/* the command to watch is: "sass --watch test.scss:test.css" */
/*

I need to modify this setup. Make it so that on flexbox cross axis
the headers are justified downwards. Then make it so that the line-height
is what determines how high 'up' the h1 is. Then all of the blue can
be one header element. Fade the shadow in when you've scrolled far enough and
switch to fixed positioning, and decrease the line-height

Then make divs for a laptop and a phone and a browser. Use sass and
variables wisely (and mixins! (?) )

*/
* {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0; }

.half {
  display: inline-block;
  transform: translateY(2px); }

.transparent {
  opacity: 0 !important; }

.shadowed {
  box-shadow: 0px 0px 7px black; }

h1, h2 {
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  font-size: 34px;
  color: #ffffff; }

h1 {
  font-size: 48px;
  line-height: 64px; }
  @media (max-width: 512px) {
    h1 {
      font-size: 40px; } }
  @media (max-width: 350px) {
    h1 {
      font-size: 32px; } }

#fixed-header h1, #fixed-header h2 {
  font-size: 34px;
  line-height: 64px; }

h3 {
  text-align: center;
  font-variant: small-caps;
  font-size: 26px;
  line-height: 80px;
  font-weight: lighter; }

p {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  opacity: .87; }

.flex-container {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  width: 80%;
  margin: auto; }
  @media (max-width: 1024px) {
    .flex-container #contact, #intro .flex-container {
      width: 100%; } }

#pre-header {
  background-color: #298bee;
  height: 300px;
  z-index: 1;
  position: relative; }

#fixed-header {
  position: fixed;
  top: 0;
  background-color: #298bee;
  height: 64px;
  width: 100%;
  z-index: 2;
  transition: box-shadow .25s; }

header {
  background-color: #298bee;
  position: relative;
  z-index: 2; }
  header > .flex-container {
    align-items: center; }
  header .flex-item {
    padding: 0 10px 0 10px;
    flex-grow: 0; }
  header h2 {
    text-align: right; }
    @media (max-width: 1024px) {
      header h2 {
        display: none; } }
  header .flex-container .flex-item:first-child {
    flex-grow: 5; }

#intro .flex-item {
  width: 250px;
  flex-grow: 0;
  margin: 0px auto;
  padding: 20px; }

#contact {
  background-image: url("grey_tile.png");
  background-repeat: repeat;
  padding: 80px 20px 80px 20px; }
  #contact p {
    color: #ffffff;
    opacity: .87;
    text-align: left; }
  #contact h3 {
    color: #ffffff;
    opacity: .87;
    text-align: left;
    margin-top: 0px; }
  #contact .flex-item {
    width: 300px;
    flex-grow: 0;
    /*margin: 0px auto;
    padding: 0px;*/ }
  #contact .picture {
    width: 75%;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: #ffffff; }

@media (max-width: 512jpx) {
  .flex-container {
    flex-direction: column; }

  #contact .flex-item {
    width: 250px;
    margin: 0px auto;
    padding: 0px; }
  #contact p {
    text-align: center; }
  #contact h3 {
    text-align: center; }

  header h1 {
    text-align: center; } }

/*# sourceMappingURL=main.css.map */
