* {
  font-family: 'Raleway', 'Helvetica', 'Helvetica Neue', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0; }

body {
  min-width: 300px; }

.half {
  display: inline-block;
  transform: translateY(2px); }

.shadowed {
  box-shadow: 0px 0px 7px black; }

.opaque {
  opacity: 1 !important; }

.transparent {
  opacity: 0 !important; }

h3 {
  text-align: center;
  font-variant: small-caps;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  padding-bottom: 32px; }

p {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  opacity: .87;
  padding-bottom: 48px; }

.flex-container {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  margin: auto; }
  @media (max-width: 1024px) {
    .flex-container #contact, #intro #header .flex-container {
      width: 100%; } }
  #projects .flex-container {
    flex-flow: row wrap; }

#fixed-header {
  opacity: 0;
  position: fixed;
  z-index: 2; }
  #fixed-header h1 {
    font-size: 32px;
    /*font-size: 48px;*/
    /*transition: font-size .15s;*/ }
  @media (max-width: 1024px) {
    #fixed-header {
      display: none; } }
  #fixed-header h1, #fixed-header h2 {
    font-size: 32px; }

#scrolling-header {
  padding-top: 280px; }
  #scrolling-header h2 {
    font-size: 32px; }

h1, h2 {
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  font-size: 48px;
  line-height: 64px; }

#lowpolyme {
  position: absolute;
  top: 10px;
  left: 13%;
  z-index: 100;
  background-image: url("images/lowpoly-lowres-lineless.png");
  width: 250px;
  height: 275px;
  background-size: cover; }
  @media (max-width: 1024px) {
    #lowpolyme {
      left: 0px;
      right: 0px;
      margin: auto; } }

header {
  background-color: #298bee;
  width: 100%; }
  header h1, header h2 {
    color: #ffffff; }
  header h2 {
    text-align: right; }
    @media (max-width: 1024px) {
      header h2 {
        display: none; } }
  header .flex-container {
    align-items: flex-end;
    width: 80%; }
  header .flex-item {
    padding-left: 10px;
    padding-right: 10px; }
    @media (max-width: 1024px) {
      header .flex-item {
        display: none; } }
  header .flex-container .flex-item:first-child {
    flex-grow: 5; }
    @media (max-width: 1024px) {
      header .flex-container .flex-item:first-child {
        text-align: center;
        display: block;
        padding-left: 0px;
        padding-right: 0px; } }

#intro .flex-container {
  width: 90%;
  margin: auto; }
#intro .flex-item {
  width: 250px;
  flex-grow: 0;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 48px; }
@media (max-width: 600px) {
  #intro .flex-container {
    flex-direction: column; } }
@media (max-width: 1024px) {
  #intro .flex-container {
    width: 100%; } }

.section-header {
  line-height: 32px;
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center; }

#projects {
  background: #f9f9f9; }
  html.cssgradients #projects {
    background: linear-gradient(to right, #fdfdfd, #f9f9f9, #fefefe, #f7f7f7); }
  #projects .display {
    margin-bottom: 48px; }
  #projects #display-image-text p {
    color: #ffffff;
    width: 70%;
    margin: auto;
    text-shadow: 0px 1px 2px #000000;
    padding-bottom: 0px; }
  #projects #display-image-text h3 {
    color: #ffffff;
    text-shadow: 0px 1px 2px #000000; }
  #projects #sidneydurant-browser-image {
    background-image: url("images/website-home.png"); }
  #projects #selfieaware-browser-image {
    background-image: url("images/selfieaware-home.png"); }
  #projects #queueup-browser-image {
    background-image: url("images/queueup-home.png"); }
  #projects #spacetraders-window-image {
    background-image: url("images/spacetraders-home.png"); }
  #projects .flex-item {
    flex-grow: 1; }

#resume {
  width: 100%; }

#contact {
  background-color: #3c3c3c;
  padding: 80px 20px 80px 20px; }
  #contact p {
    color: #ffffff;
    opacity: .87;
    text-align: left; }
  #contact h3 {
    color: #ffffff;
    opacity: .87;
    text-align: left;
    margin-top: 0px; }
  #contact .flex-item {
    width: 300px;
    flex-grow: 0; }
  @media (max-width: 600px) {
    #contact .flex-container {
      flex-direction: column; } }

@media (max-width: 600px) {
  #contact .flex-item {
    width: 250px;
    margin: 0px auto;
    padding: 0px; }
  #contact p {
    text-align: center; } }
#resume hr {
  clear: both;
  margin-bottom: 48px;
  opacity: 0; }
#resume .resume-row ul li {
  padding-left: 24px; }
#resume .resume-row ul li:nth-child(1) {
  padding-left: 0px;
  font-weight: bold;
  float: left; }
#resume .resume-row ul li:nth-child(2) {
  display: inline-block;
  float: right;
  font-style: italic; }
#resume .resume-row ul li:nth-child(3) {
  clear: both; }
#resume .resume-row .short-date {
  display: none; }
#resume .resume-row .long-date {
  display: inline; }
@media (max-width: 600px) {
  #resume .resume-row .long-date {
    display: none; }
  #resume .resume-row .short-date {
    display: inline; } }
@media (max-width: 400px) {
  #resume .resume-row .short-date {
    display: none; } }

#browser {
  margin: auto;
  width: 600px;
  height: 375px;
  border-radius: 6px;
  border-width: 1px;
  border-color: #d1d1d1;
  border-style: solid; }
  #browser .browser-image {
    background-size: cover;
    height: 337.5px;
    width: 600px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; }
    #browser .browser-image #browser-image-overlay {
      background-color: #3c3c3c;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity .5s;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px; }
    #browser .browser-image #browser-image-overlay:hover {
      opacity: .8; }
    @media (max-width: 600px) {
      #browser .browser-image #browser-image-overlay {
        display: none; } }
    #browser .browser-image #display-image-text {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
  #browser #browser-navbar {
    background-color: #eeeeee;
    height: 37.5px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    box-shadow: 0 1px 1px #cccccc; }
  #browser .browser-button {
    margin-left: 9.375px;
    margin-top: 12.5px;
    width: 12.5px;
    height: 12.5px;
    border-radius: 6.25px;
    float: left;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1); }
  #browser #browser-close {
    background-color: #f85b42; }
  #browser #browser-max {
    background-color: #f7bd15; }
  #browser #browser-min {
    background-color: #21ce29;
    margin-right: 18.75px; }
  #browser #browser-back {
    margin-right: 4.6875px; }
  #browser #browser-back, #browser #browser-forward {
    margin-top: 6.25px;
    border-radius: 4.6875px;
    float: left;
    width: 25px;
    height: 25px;
    background-color: #fefefe;
    box-shadow: 0 1px 0 #cccccc; }
    #browser #browser-back #browser-back-arrow, #browser #browser-back #browser-forward-arrow, #browser #browser-forward #browser-back-arrow, #browser #browser-forward #browser-forward-arrow {
      width: 15px;
      height: 15px;
      position: relative;
      top: 4.6875px;
      left: 4.6875px;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 1.875px;
      border-top-right-radius: 1.875px;
      border-bottom-left-radius: 1.875px; }
      #browser #browser-back #browser-back-arrow #browser-back-occluder, #browser #browser-back #browser-back-arrow #browser-forward-occluder, #browser #browser-back #browser-forward-arrow #browser-back-occluder, #browser #browser-back #browser-forward-arrow #browser-forward-occluder, #browser #browser-forward #browser-back-arrow #browser-back-occluder, #browser #browser-forward #browser-back-arrow #browser-forward-occluder, #browser #browser-forward #browser-forward-arrow #browser-back-occluder, #browser #browser-forward #browser-forward-arrow #browser-forward-occluder {
        position: relative;
        border-top-left-radius: 15px;
        top: -2.34375px;
        left: -2.34375px;
        width: 15px;
        height: 15px;
        background-color: #fefefe; }
    #browser #browser-back #browser-back-arrow, #browser #browser-forward #browser-back-arrow {
      transform: translateX(2.34375px) rotate(135deg);
      background-color: #999999; }
    #browser #browser-back #browser-forward-arrow, #browser #browser-forward #browser-forward-arrow {
      transform: translateX(-2.34375px) rotate(-45deg);
      background-color: #cccccc; }
  #browser #browser-search {
    position: relative;
    margin-left: 18.75px;
    margin-top: 6.25px;
    border-radius: 4.6875px;
    float: left;
    width: 300px;
    height: 25px;
    background-color: #fefefe;
    box-shadow: 0 1px 0 #cccccc; }
    #browser #browser-search p {
      line-height: 0px;
      margin-top: 12.5px;
      font-size: 12.5px; }

#window {
  margin: auto;
  width: 600px;
  height: 375px;
  border-width: 1px;
  border-color: #d1d1d1;
  border-style: solid; }
  #window .window-image {
    background-size: cover;
    height: 337.5px;
    width: 600px; }
    #window .window-image #window-image-overlay {
      background-color: #3c3c3c;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity .5s; }
    #window .window-image #window-image-overlay:hover {
      opacity: .8; }
    @media (max-width: 600px) {
      #window .window-image #window-image-overlay {
        display: none; } }
    #window .window-image #display-image-text {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
  #window #window-navbar {
    /*background-color: #eeeeee;*/
    background-color: #c6e8fc;
    height: 37.5px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    box-shadow: 0 1px 1px #cccccc; }
  #window .window-button {
    width: 31.25px;
    height: 18.75px;
    float: right; }
  #window #window-close div {
    line-height: 34.09091px;
    font-family: Raleway;
    font-size: 37.5px;
    color: #3c3c3c;
    margin: auto;
    font-weight: 300; }
  #window #window-max div {
    line-height: 37.5px;
    font-family: Raleway;
    font-size: 20.83333px;
    color: #3c3c3c;
    margin: auto;
    font-weight: 800; }
  #window #window-min div {
    line-height: 20.83333px;
    font-family: Raleway;
    font-size: 37.5px;
    color: #3c3c3c;
    margin: auto;
    font-weight: 300; }
  #window #window-title {
    position: relative;
    margin-left: 125px;
    margin-top: 6.25px;
    border-radius: 4.6875px;
    float: left;
    width: 337.5px;
    height: 25px; }
    #window #window-title p {
      line-height: 0px;
      margin-top: 12.5px;
      font-size: 12.5px; }

@media (max-width: 600px) {
  #browser {
    margin: auto;
    width: 350px;
    height: 218.75px;
    border-radius: 3.5px;
    border-width: 1px;
    border-color: #d1d1d1;
    border-style: solid; }
    #browser .browser-image {
      background-size: cover;
      height: 196.875px;
      width: 350px;
      border-bottom-left-radius: 3.5px;
      border-bottom-right-radius: 3.5px; }
      #browser .browser-image #browser-image-overlay {
        background-color: #3c3c3c;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity .5s;
        border-bottom-left-radius: 3.5px;
        border-bottom-right-radius: 3.5px; }
      #browser .browser-image #browser-image-overlay:hover {
        opacity: .8; } }
    @media (max-width: 600px) and (max-width: 600px) {
      #browser .browser-image #browser-image-overlay {
        display: none; } }
@media (max-width: 600px) {
      #browser .browser-image #display-image-text {
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
    #browser #browser-navbar {
      background-color: #eeeeee;
      height: 21.875px;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      box-shadow: 0 1px 1px #cccccc; }
    #browser .browser-button {
      margin-left: 5.46875px;
      margin-top: 7.29167px;
      width: 7.29167px;
      height: 7.29167px;
      border-radius: 3.64583px;
      float: left;
      box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1); }
    #browser #browser-close {
      background-color: #f85b42; }
    #browser #browser-max {
      background-color: #f7bd15; }
    #browser #browser-min {
      background-color: #21ce29;
      margin-right: 10.9375px; }
    #browser #browser-back {
      margin-right: 2.73438px; }
    #browser #browser-back, #browser #browser-forward {
      margin-top: 3.64583px;
      border-radius: 2.73438px;
      float: left;
      width: 14.58333px;
      height: 14.58333px;
      background-color: #fefefe;
      box-shadow: 0 1px 0 #cccccc; }
      #browser #browser-back #browser-back-arrow, #browser #browser-back #browser-forward-arrow, #browser #browser-forward #browser-back-arrow, #browser #browser-forward #browser-forward-arrow {
        width: 8.75px;
        height: 8.75px;
        position: relative;
        top: 2.73438px;
        left: 2.73438px;
        border-top-left-radius: 8.75px;
        border-bottom-right-radius: 1.09375px;
        border-top-right-radius: 1.09375px;
        border-bottom-left-radius: 1.09375px; }
        #browser #browser-back #browser-back-arrow #browser-back-occluder, #browser #browser-back #browser-back-arrow #browser-forward-occluder, #browser #browser-back #browser-forward-arrow #browser-back-occluder, #browser #browser-back #browser-forward-arrow #browser-forward-occluder, #browser #browser-forward #browser-back-arrow #browser-back-occluder, #browser #browser-forward #browser-back-arrow #browser-forward-occluder, #browser #browser-forward #browser-forward-arrow #browser-back-occluder, #browser #browser-forward #browser-forward-arrow #browser-forward-occluder {
          position: relative;
          border-top-left-radius: 8.75px;
          top: -1.36719px;
          left: -1.36719px;
          width: 8.75px;
          height: 8.75px;
          background-color: #fefefe; }
      #browser #browser-back #browser-back-arrow, #browser #browser-forward #browser-back-arrow {
        transform: translateX(1.36719px) rotate(135deg);
        background-color: #999999; }
      #browser #browser-back #browser-forward-arrow, #browser #browser-forward #browser-forward-arrow {
        transform: translateX(-1.36719px) rotate(-45deg);
        background-color: #cccccc; }
    #browser #browser-search {
      position: relative;
      margin-left: 10.9375px;
      margin-top: 3.64583px;
      border-radius: 2.73438px;
      float: left;
      width: 175px;
      height: 14.58333px;
      background-color: #fefefe;
      box-shadow: 0 1px 0 #cccccc; }
      #browser #browser-search p {
        line-height: 0px;
        margin-top: 7.29167px;
        font-size: 7.29167px; }

  #window {
    margin: auto;
    width: 350px;
    height: 218.75px;
    border-width: 1px;
    border-color: #d1d1d1;
    border-style: solid; }
    #window .window-image {
      background-size: cover;
      height: 196.875px;
      width: 350px; }
      #window .window-image #window-image-overlay {
        background-color: #3c3c3c;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity .5s; }
      #window .window-image #window-image-overlay:hover {
        opacity: .8; } }
    @media (max-width: 600px) and (max-width: 600px) {
      #window .window-image #window-image-overlay {
        display: none; } }
@media (max-width: 600px) {
      #window .window-image #display-image-text {
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
    #window #window-navbar {
      /*background-color: #eeeeee;*/
      background-color: #c6e8fc;
      height: 21.875px;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      box-shadow: 0 1px 1px #cccccc; }
    #window .window-button {
      width: 18.22917px;
      height: 10.9375px;
      float: right; }
    #window #window-close div {
      line-height: 19.88636px;
      font-family: Raleway;
      font-size: 21.875px;
      color: #3c3c3c;
      margin: auto;
      font-weight: 300; }
    #window #window-max div {
      line-height: 21.875px;
      font-family: Raleway;
      font-size: 12.15278px;
      color: #3c3c3c;
      margin: auto;
      font-weight: 800; }
    #window #window-min div {
      line-height: 12.15278px;
      font-family: Raleway;
      font-size: 21.875px;
      color: #3c3c3c;
      margin: auto;
      font-weight: 300; }
    #window #window-title {
      position: relative;
      margin-left: 72.91667px;
      margin-top: 3.64583px;
      border-radius: 2.73438px;
      float: left;
      width: 196.875px;
      height: 14.58333px; }
      #window #window-title p {
        line-height: 0px;
        margin-top: 7.29167px;
        font-size: 7.29167px; }

  #browser {
    margin: auto;
    width: 290px;
    height: 181.25px;
    border-radius: 2.9px;
    border-width: 1px;
    border-color: #d1d1d1;
    border-style: solid; }
    #browser .browser-image {
      background-size: cover;
      height: 163.125px;
      width: 290px;
      border-bottom-left-radius: 2.9px;
      border-bottom-right-radius: 2.9px; }
      #browser .browser-image #browser-image-overlay {
        background-color: #3c3c3c;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity .5s;
        border-bottom-left-radius: 2.9px;
        border-bottom-right-radius: 2.9px; }
      #browser .browser-image #browser-image-overlay:hover {
        opacity: .8; } }
    @media (max-width: 600px) and (max-width: 600px) {
      #browser .browser-image #browser-image-overlay {
        display: none; } }
@media (max-width: 600px) {
      #browser .browser-image #display-image-text {
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
    #browser #browser-navbar {
      background-color: #eeeeee;
      height: 18.125px;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      box-shadow: 0 1px 1px #cccccc; }
    #browser .browser-button {
      margin-left: 4.53125px;
      margin-top: 6.04167px;
      width: 6.04167px;
      height: 6.04167px;
      border-radius: 3.02083px;
      float: left;
      box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1); }
    #browser #browser-close {
      background-color: #f85b42; }
    #browser #browser-max {
      background-color: #f7bd15; }
    #browser #browser-min {
      background-color: #21ce29;
      margin-right: 9.0625px; }
    #browser #browser-back {
      margin-right: 2.26563px; }
    #browser #browser-back, #browser #browser-forward {
      margin-top: 3.02083px;
      border-radius: 2.26563px;
      float: left;
      width: 12.08333px;
      height: 12.08333px;
      background-color: #fefefe;
      box-shadow: 0 1px 0 #cccccc; }
      #browser #browser-back #browser-back-arrow, #browser #browser-back #browser-forward-arrow, #browser #browser-forward #browser-back-arrow, #browser #browser-forward #browser-forward-arrow {
        width: 7.25px;
        height: 7.25px;
        position: relative;
        top: 2.26563px;
        left: 2.26563px;
        border-top-left-radius: 7.25px;
        border-bottom-right-radius: 0.90625px;
        border-top-right-radius: 0.90625px;
        border-bottom-left-radius: 0.90625px; }
        #browser #browser-back #browser-back-arrow #browser-back-occluder, #browser #browser-back #browser-back-arrow #browser-forward-occluder, #browser #browser-back #browser-forward-arrow #browser-back-occluder, #browser #browser-back #browser-forward-arrow #browser-forward-occluder, #browser #browser-forward #browser-back-arrow #browser-back-occluder, #browser #browser-forward #browser-back-arrow #browser-forward-occluder, #browser #browser-forward #browser-forward-arrow #browser-back-occluder, #browser #browser-forward #browser-forward-arrow #browser-forward-occluder {
          position: relative;
          border-top-left-radius: 7.25px;
          top: -1.13281px;
          left: -1.13281px;
          width: 7.25px;
          height: 7.25px;
          background-color: #fefefe; }
      #browser #browser-back #browser-back-arrow, #browser #browser-forward #browser-back-arrow {
        transform: translateX(1.13281px) rotate(135deg);
        background-color: #999999; }
      #browser #browser-back #browser-forward-arrow, #browser #browser-forward #browser-forward-arrow {
        transform: translateX(-1.13281px) rotate(-45deg);
        background-color: #cccccc; }
    #browser #browser-search {
      position: relative;
      margin-left: 9.0625px;
      margin-top: 3.02083px;
      border-radius: 2.26563px;
      float: left;
      width: 145px;
      height: 12.08333px;
      background-color: #fefefe;
      box-shadow: 0 1px 0 #cccccc; }
      #browser #browser-search p {
        line-height: 0px;
        margin-top: 6.04167px;
        font-size: 6.04167px; }

  #window {
    margin: auto;
    width: 290px;
    height: 181.25px;
    border-width: 1px;
    border-color: #d1d1d1;
    border-style: solid; }
    #window .window-image {
      background-size: cover;
      height: 163.125px;
      width: 290px; }
      #window .window-image #window-image-overlay {
        background-color: #3c3c3c;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity .5s; }
      #window .window-image #window-image-overlay:hover {
        opacity: .8; } }
    @media (max-width: 600px) and (max-width: 600px) {
      #window .window-image #window-image-overlay {
        display: none; } }
@media (max-width: 600px) {
      #window .window-image #display-image-text {
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
    #window #window-navbar {
      /*background-color: #eeeeee;*/
      background-color: #c6e8fc;
      height: 18.125px;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      box-shadow: 0 1px 1px #cccccc; }
    #window .window-button {
      width: 15.10417px;
      height: 9.0625px;
      float: right; }
    #window #window-close div {
      line-height: 16.47727px;
      font-family: Raleway;
      font-size: 18.125px;
      color: #3c3c3c;
      margin: auto;
      font-weight: 300; }
    #window #window-max div {
      line-height: 18.125px;
      font-family: Raleway;
      font-size: 10.06944px;
      color: #3c3c3c;
      margin: auto;
      font-weight: 800; }
    #window #window-min div {
      line-height: 10.06944px;
      font-family: Raleway;
      font-size: 18.125px;
      color: #3c3c3c;
      margin: auto;
      font-weight: 300; }
    #window #window-title {
      position: relative;
      margin-left: 60.41667px;
      margin-top: 3.02083px;
      border-radius: 2.26563px;
      float: left;
      width: 163.125px;
      height: 12.08333px; }
      #window #window-title p {
        line-height: 0px;
        margin-top: 6.04167px;
        font-size: 6.04167px; } }
@media (max-width: 290px) {
  .display {
    display: none; } }

/*# sourceMappingURL=main.css.map */
