
/* the command to watch is: "sass --watch test.scss:test.css" */

$primary-color: #298bee;
$dark-color: #3c3c3c;
$light-color: #ffffff;
$text-opacity: .87;

$narrow-breakpoint: 350px;
$medium-breakpoint: 512px;
$wide-breakpoint: 1024px;

$short-breakpoint: 0px;
$tall-breakpoint: 0px;

*{
	font-family: 'Raleway', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	text-rendering: optimizeLegibility;
	padding: 0;
	margin: 0;
}

.half{
	display: inline-block;
	transform: translateY(2px);
}

.shadowed{
	box-shadow: 0px 0px 7px rgba(0,0,0,1);
}

.opaque{
	opacity: 1 !important;
}

.transparent{
	opacity: 0 !important;
}

h3{
	text-align: center;
	font-variant: small-caps;
	font-family: "Raleway", "Lucida Sans Unicode", "Lucida Grande", Arial, Sans;
	font-weight: 600;
	font-size: 28px;
	line-height: 28px;
	padding-bottom: 32px;
}

p{
	font-family: "Raleway", "Lucida Sans Unicode", "Lucida Grande", Arial, Sans;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #000000;
	opacity: .87;
	padding-bottom: 48px;
}

.flex-container{
	display: flex;
	justify-content: center;
	flex-flow: row nowrap;
	width: 80%;
	margin: auto;

	#contact, #intro &{
		@media (max-width: $wide-breakpoint){
			width: 100%;
		}
	} 
}

#fixed-header{
	opacity: 0;
	position: fixed;
	z-index: 2;
	transition: box-shadow;
}

$topHeight: 280px;

#scrolling-header{
	padding-top: $topHeight;
	h1{
		font-size: 48px;
	}
}

header{
	background-color: $primary-color;
	width: 100%;
	h1, h2{
		font-family: "Raleway", sans-serif;
		font-weight: lighter;
		font-size: 32px;
		line-height: 64px;
		color: $light-color;
	}

	h2{
		text-align: right;
		@media (max-width: $wide-breakpoint){
			display: none;
		}
	}

	.flex-container{
		align-items: flex-start;
	}

	.flex-item{
		padding-left: 10px;
		padding-right: 10px;
	}

	.flex-container .flex-item:first-child{
		flex-grow: 5;
	}
}

#intro{
	padding-top: 24px;
	.flex-item{
		width: 250px;
		flex-grow: 0;
		margin: 0px auto;
		padding-left: 20px;
		padding-right: 20px;
	}
}

#contact{
	background-image: url('grey_tile.png');
	background-repeat: repeat;
	padding: 80px 20px 80px 20px;

	p{
		color: $light-color;
		opacity: .87;
		text-align: left;
	}

	h3{
		color: $light-color;
		opacity: .87;
		text-align: left;
		margin-top: 0px;
	}

	.flex-item{
		width: 300px;
		flex-grow: 0;
		/*margin: 0px auto;
		padding: 0px;*/
	}

	.picture{
		width: 75%;
		border-radius: 50%;
		border-style: solid;
		border-width: 3px;
		border-color: $light-color;
	}
}

@media (max-width: $medium-breakpoint){
	.flex-container{
		flex-direction: column;
	}

	#contact{
		.flex-item{
			width: 250px;
			margin: 0px auto;
			padding: 0px;
		}
		p{
			text-align: center;
		}
	}
}

@mixin browser($browser-height){
	$browser-width: $browser-height*16/9; 
	#browser{

		background-color: #dddddd;
		width: $browser-width;
		height: $browser-height;
		border-radius: $browser-width/100;

		#browser-navbar{
			background-color: #eeeeee;
			height: $browser-height/10;
			border-top-left-radius: inherit;
			border-top-right-radius: inherit;
			box-shadow: 0 1px 1px #cccccc;
		}

		.browser-button{
			margin-left: $browser-height/40;
			margin-top: $browser-height/30;
			width: $browser-height/30;
			height: $browser-height/30;
			border-radius: $browser-height/60;
			float: left;
			box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
		}

		#browser-close{
			background-color: #f85b42;
		}
		#browser-max{
			background-color: #f7bd15;
		}
		#browser-min{
			background-color: #21ce29;
			margin-right: $browser-height/20;
		}

		#browser-back{
			margin-right: $browser-height/80;
		}

		#browser-back, #browser-forward{
			margin-top: $browser-height/60;
			border-radius: $browser-height/80;
			float: left;
			width: $browser-height/15;
			height: $browser-height/15;
			background-color: #fefefe;
			box-shadow: 0 1px 0 #cccccc;

			#browser-back-arrow, #browser-forward-arrow{
				width: $browser-height/25;
				height: $browser-height/25;
				position: relative;
				top: $browser-height/80;
				left: $browser-height/80;
				border-top-left-radius: $browser-height/25;
				border-bottom-right-radius: $browser-height/200;
				border-top-right-radius: $browser-height/200;
				border-bottom-left-radius: $browser-height/200;

				#browser-back-occluder, #browser-forward-occluder{
					position:relative;
					border-top-left-radius: $browser-height/25;
					top: 0-$browser-height/160;
					left: 0-$browser-height/160;
					width: $browser-height/25;
					height: $browser-height/25;
					background-color: #fefefe;
				}
			}
			#browser-back-arrow{
				transform: translateX($browser-height/160) rotate(135deg);
				background-color: #999999;
			}
			#browser-forward-arrow{
				transform: translateX(-$browser-height/160) rotate(-45deg);
				background-color: #cccccc;
			}
		}
		#browser-search{
			position:relative;
			margin-left: $browser-height/20;
			margin-top: $browser-height/60;
			border-radius: $browser-height/80;
			float: left;
			width: $browser-height*.9;
			height: $browser-height/15;
			background-color: #fefefe;
			box-shadow: 0 1px 0 #cccccc;
			p{
				line-height: 0px;
				margin-top: $browser-height/30;
				font-size: $browser-height/30;
			}
		}

	}
}

@include browser(400px);
@media (max-width: $medium-breakpoint){
	@include browser(200px);
}

